@import url('https://fonts.googleapis.com/css?family=Open+Sans');
li {
    list-style-type: none;
    
}

li:HOVER
{
	cursor: pointer;
	background-color: gray;
}

ul {
	margin: 3px 0px 0px 2px;
	-webkit-padding-start: 2px; 
}

#divmain input {
	width: 150px;
}

#lista ul li {
	width: 150px;
}
